{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block content %}

<div class='p-3'>
    <div class='m-6'>
        <h1 class=' py-5 text-center'>About BooksHub</h1>
    
        <p class='text-justify'>
            Hi,<br><br>

            BooksHub is a free book search engine which allows you to search books, and download millions of PDF files into your devices. Our BooksHub library stays up-to-date, while continuously growing and offering you an enormous database to search. &#128578;<br><br><br><br><br><br><br><br><br><br>
            
        
            
        </p>
        
    </div>
</div>

{% endblock %}