{% extends 'base.html' %}

{% block title %}Disclaimer{% endblock title %}

{% block content %}

<div class='p-3'>
    <div class='m-6'>
        <h1 class=' py-5 text-center'>Disclaimer BooksHub</h1>
    
        <p class='text-justify'>
            Hi,<br><br>

            BooksHub does not own any book/materials. We only provide the links which are already available on the internet.<br>For any link removal or copyright issues please contact us. Thank you<br><br><br><br><br><br><br><br><br><br>
            
        
            
        </p>
        
    </div>
</div>

{% endblock %}